<h1>Amy Morrison</h1>



<p>I am a 24 year old Scottish lass who works as a nurse and is a CrossFitter. I am currently in Amsterdam learning about Rails with Rails Girls </p>

<h2> Gie It Laldy! </h2>


